<div class="popup-content">
  <div class="file-number">Crown Land File: {{(app && app['clFile']) || '-'}}</div>
  <div>
    <div class="applicant-name">{{app?.client || '-'}}</div>
    <div class="purpose">{{app?.purpose | lowercase}} {{app?.subpurpose | lowercase}}</div>
  </div>
  <ul class="status-container">
    <li *ngIf="commentPeriodService.isOpen(app?.currentPeriod)">
      <i class="material-icons" title="{{app?.cpStatus}}">
        {{commentPeriodService.isOpen(app?.currentPeriod) ? 'comment' : 'highlight_off'}}
      </i><span>{{app?.cpStatus}}</span>
    </li>
    <li *ngVar="applicationService.getStatusCode(app?.status) as appStatusCode">
      <!-- Application Under Review -->
      <i class="material-icons" title="{{app?.appStatus}}"
        *ngIf="applicationService.isAccepted(appStatusCode)">
        access_time
      </i>
      <!-- Decision: Allowed -->
      <i class="material-icons" title="{{app?.appStatus}}"
        *ngIf="applicationService.isAllowed(appStatusCode)">
        error_outline
      </i>
      <!-- Tenure: Disposition in Good Standing / Decision: Offered / Decision: Offer Accepted -->
      <i class="material-icons" title="{{app?.appStatus}}"
        *ngIf="applicationService.isDispGoodStanding(appStatusCode)
          || applicationService.isOffered(appStatusCode)
          || applicationService.isOfferAccepted(appStatusCode)">
        check
      </i>
      <!-- Application Cancelled / Application Abandoned / Decision: Offer Not Accepted -->
      <i class="material-icons" title="{{app?.appStatus}}"
        *ngIf="applicationService.isCancelled(appStatusCode)
        || applicationService.isAbandoned(appStatusCode)
        || applicationService.isOfferNotAccepted(appStatusCode)">
        cancel
      </i>
      <!-- Decision: Not Approved / Tenure: Suspended-->
      <i class="material-icons" title="{{app?.appStatus}}"
        *ngIf="applicationService.isDisallowed(appStatusCode)
        || applicationService.isSuspended(appStatusCode)">
        warning
      </i>
      <!-- Unknown Application Status -->
      <i class="material-icons" title="{{app?.appStatus}}"
        *ngIf="applicationService.isUnknown(appStatusCode)">
        warning
      </i>
      <span>{{app?.appStatus}}</span>
    </li>
  </ul>
  <button class="app-link btn btn-sm btn-primary" (click)="openAppDetail()">View Application Details</button>

  <div class="popup-body" style="display: none;">
    <ul class="status-container">
      <li>
        <i class="material-icons" title="{{app?.cpStatus}}">
          {{commentPeriodService.isOpen(app?.currentPeriod) ? 'comment' : 'highlight_off'}}
        </i><span>{{app?.cpStatus}}</span>
      </li>
      <li *ngVar="applicationService.getStatusCode(app?.status) as appStatusCode">
        <!-- Application Under Review -->
        <i class="material-icons" title="{{app?.appStatus}}"
          *ngIf="applicationService.isAccepted(appStatusCode)">
          access_time
        </i>
        <!-- Decision: Allowed -->
        <i class="material-icons" title="{{app?.appStatus}}"
          *ngIf="applicationService.isAllowed(appStatusCode)">
          error_outline
        </i>
        <!-- Tenure: Disposition in Good Standing / Decision: Offered / Decision: Offer Accepted -->
        <i class="material-icons" title="{{app?.appStatus}}"
          *ngIf="applicationService.isDispGoodStanding(appStatusCode)
            || applicationService.isOffered(appStatusCode)
            || applicationService.isOfferAccepted(appStatusCode)">
          check
        </i>
        <!-- Application Cancelled / Application Abandoned / Decision: Offer Not Accepted -->
        <i class="material-icons" title="{{app?.appStatus}}"
          *ngIf="applicationService.isCancelled(appStatusCode)
          || applicationService.isAbandoned(appStatusCode)
          || applicationService.isOfferNotAccepted(appStatusCode)">
          cancel
        </i>
        <!-- Decision: Not Approved / Tenure: Suspended-->
        <i class="material-icons" title="{{app?.appStatus}}"
          *ngIf="applicationService.isDisallowed(appStatusCode)
          || applicationService.isSuspended(appStatusCode)">
          warning
        </i>
        <!-- Unknown Application Status -->
        <i class="material-icons" title="{{app?.appStatus}}"
          *ngIf="applicationService.isUnknown(appStatusCode)">
          warning
        </i>
        <span>{{app?.appStatus}}</span>
      </li>
    </ul>

    <div class="app-details">
      <div class="meta-container">
        <ul>
          <li>
            <span class="key">Disposition Transaction:</span>
            <span class="value">{{app?.tantalisID || '-'}}</span>
          </li>
          <li>
            <span class="key">Location:</span>
            <span class="value">{{app?.location || '-'}}</span>
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>