@import "~assets/styles/base/base.scss";

.app-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.app-list__container {
  @include flex-box();
  @include flex-flow(column nowrap);
  width: 100%;
  height: 100%;

  table {
    background: #fff;
  }
}

// No Results Container 
.no-results {
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: #fff;
  z-index: 2;

  + .no-results {
    display: none;
  }
}

// Load More Container
.load-more {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #ddd;
  text-align: center;

  .btn {
    position: relative;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
  }
}

.spinner-container {
  + .no-results {
    display: none;
  }
}

.actions-col {
  width: 10rem;
  text-align: right;
  i {
    cursor: pointer;
  }
}