<div class="flex-panel">
  <div class="flex-panel__header">
    <h3 class="title">Explore Applications</h3>
  </div>
  <div class="flex-panel__scroll">
    <div class="form-group published-dates">
      <label class="control-label">Published Between</label>
      <div>
        <!-- For Prototype Use ONLY -->
        <input class="form-control" type="date">
        <div class="spacer">
          &mdash;
        </div>
        <!-- For Prototype Use ONLY -->
        <input class="form-control" type="date">
      </div>
    </div>

    <!-- COMMENT PERIOD FILTERS -->
    <div class="form-group">
      <label class="control-label">Comment Period</label>
      <div class="checkbox-group">
        <div class="form-check">
          <input type="checkbox" id="commentOption1">
          <label for="commentOption1">Open</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="commentOption2">
          <label for="commentOption2">Closed</label>
        </div>
      </div>
    </div>

    <!-- PURPOSE FILTERS -->
    <div class="form-group">
      <label class="control-label">Purpose of Application</label>
      <div class="checkbox-group">
        <div class="form-check">
          <input type="checkbox" id="purpose1">
          <label for="purpose1">Agriculture</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose2">
          <label for="purpose2">Alpine Skiing</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose3">
          <label for="purpose3">Aquaculture</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose4">
          <label for="purpose4">Commercial</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose5">
          <label for="purpose5">Commercial Recreation</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose6">
          <label for="purpose6">Communication</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose7">
          <label for="purpose7">Community</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose8">
          <label for="purpose8">Energy Production</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose9">
          <label for="purpose9">Environment, Conservation & Rec.</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose10">
          <label for="purpose10">Industrial</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose11">
          <label for="purpose11">Institutional</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose12">
          <label for="purpose12">Miscellaneous</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose13">
          <label for="purpose13">Ocean Energy</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose14">
          <label for="purpose14">Quarrying</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose15">
          <label for="purpose15">Residential</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose16">
          <label for="purpose16">Solar Power</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose17">
          <label for="purpose17">Transportation</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose18">
          <label for="purpose18">Utility</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose19">
          <label for="purpose19">Waterpower</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="purpose20">
          <label for="purpose20">Windpower</label>
        </div>
        
        <!--
        <div class="form-check options-enabled">
          <input type="checkbox" id="purpose21">
          <label for="purpose21">Windpower</label>
          <button class="btn" (click)="configurePurpose();">
            <i class="material-icons">
              settings
            </i>
          </button>
        </div>
        -->
        
      </div>
    </div>

    <!-- APPLICATION STATUS FILTERS -->
    <div class="form-group">
      <label class="control-label">Application Status</label>
      <div class="checkbox-group">
        <div class="form-check">
          <input type="checkbox" id="statusOption1">
          <label for="statusOption1">Under Review</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="statusOption2">
          <label for="statusOption2">Decision Pending</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="statusOption3">
          <label for="statusOption3">Abandoned</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="statusOption4">
          <label for="statusOption4">Approved</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="statusOption5">
          <label for="statusOption5">Not Approved</label>
        </div>
      </div>
    </div>

    <div class="form-btns">
      <button class="btn btn-primary">Explore</button>
    </div>
    
  </div>
</div>
