
  <div class="flex-panel" *ngIf="!isLoading && !application">
    <div class="flex-panel__header">
      <h3 class="title">No application selected</h3>
    </div>
  </div>

  <div class="flex-panel" *ngIf="isLoading">
    <em>Loading application details...</em>
  </div>

  <div class="flex-panel" *ngIf="application">
    <div class="flex-panel__header">
      <div class="file-number">Crown Land File: {{(application && application['clFile']) || '-'}}</div>
      <div>
        <div class="applicant-name">{{application?.client || '-'}}</div>
        <div class="purpose">{{application?.purpose | lowercase}} {{application?.subpurpose | lowercase}}</div>
      </div>
      <ul class="status-container" style="display: none;">
        <li *ngIf="commentPeriodService.isOpen(application?.currentPeriod)">
          <i class="material-icons" title="{{application?.cpStatus}}">
            {{commentPeriodService.isOpen(application?.currentPeriod) ? 'comment' : 'highlight_off'}}
          </i><span>{{application?.cpStatus}}</span>
        </li>
        <li *ngVar="applicationService.getStatusCode(application?.status) as appStatusCode">
          <!-- Application Under Review -->
          <i class="material-icons" title="{{application?.appStatus}}"
            *ngIf="applicationService.isAccepted(appStatusCode)">
            access_time
          </i>
          <!-- Decision: Allowed -->
          <i class="material-icons" title="{{application?.appStatus}}"
            *ngIf="applicationService.isAllowed(appStatusCode)">
            error_outline
          </i>
          <!-- Tenure: Disposition in Good Standing / Decision: Offered / Decision: Offer Accepted -->
          <i class="material-icons" title="{{application?.appStatus}}"
            *ngIf="applicationService.isDispGoodStanding(appStatusCode)
              || applicationService.isOffered(appStatusCode)
              || applicationService.isOfferAccepted(appStatusCode)">
            check
          </i>
          <!-- Application Cancelled / Application Abandoned / Decision: Offer Not Accepted -->
          <i class="material-icons" title="{{application?.appStatus}}"
            *ngIf="applicationService.isCancelled(appStatusCode)
            || applicationService.isAbandoned(appStatusCode)
            || applicationService.isOfferNotAccepted(appStatusCode)">
            cancel
          </i>
          <!-- Decision: Not Approved / Tenure: Suspended-->
          <i class="material-icons" title="{{application?.appStatus}}"
            *ngIf="applicationService.isDisallowed(appStatusCode)
            || applicationService.isSuspended(appStatusCode)">
            warning
          </i>
          <!-- Unknown Application Status -->
          <i class="material-icons" title="{{application?.appStatus}}"
            *ngIf="applicationService.isUnknown(appStatusCode)">
            warning
          </i>
          <span>{{application?.appStatus}}</span>
        </li>
      </ul>
    </div>
    <div class="flex-panel__scroll">
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>
            Application Details
          </ng-template>
          <ng-template ngbTabContent>
            <section>
              <h4>About this application</h4>
              <p class="description">{{application?.description || "No description available"}}</p>
              <ul class="meta-container">
                <li>
                  <div class="key">Application Status:</div>
                  <div class="value">{{application?.appStatus}}</div>
                </li>
                <li>
                  <div class="key">Applicant:</div>
                  <div class="value">{{application?.client}}</div>
                </li>
                <li>
                  <div class="key">Disposition Transaction:</div>
                  <div class="value">{{application?.tantalisID || '-'}}</div>
                </li>
                <li>
                  <div class="key">Tenure:</div>
                  <div class="value">{{application?.type | lowercase}} / {{application?.subtype | lowercase}}</div>
                </li>
                <li>
                  <div class="key">Purpose/Subpurpose:</div>
                  <div class="value">{{application?.purpose | lowercase}} / {{application?.subpurpose | lowercase}}</div>
                </li>
                <li>
                  <div class="key">Location:</div>
                  <div class="value">{{application?.location | lowercase}}</div>
                </li>
              </ul>
            </section>
            <section>
              <h4>Application Documents</h4>
              <ul class="document-list">
                <li *ngFor="let document of application?.documents">
                  <a [href]="api?.getDocumentUrl(document)" [title]="document.displayName || ''" target="_blank">
                    <i class="material-icons md-18">
                      insert_drive_file
                    </i>
                    <span>{{document.documentFileName}}</span>
                  </a>
                </li>
              </ul>
            </section>
            <section>
              <h4>Application Decision</h4>
              <div *ngIf="!application.decision && !applicationService.isDecision(application.status)">
                No decisions have been made for this application at this time.
              </div>
              <ul class="document-list">
                <li *ngFor="let document of application.decision?.documents">
                  <a [href]="api?.getDocumentUrl(document)" target="_blank" [title]="document.displayName || ''">
                    <i class="material-icons md-18">
                      insert_drive_file
                    </i>
                    <span>{{document.documentFileName}}</span>
                  </a>
                </li>
              </ul>
            </section>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            Location
          </ng-template>
          <ng-template ngbTabContent>
            <section>
              <h4>Geographic Shape Information</h4>
              <!--
              <p *ngIf="application?.features">This application has <strong>{{application.features.length}}</strong> {{application.features.length === 1 ? 'shape.' : 'shapes.'}}</p>
              -->
              <ul class="shapefile-list">
                <li *ngFor="let feature of application?.features">
                  <div class="shapefile-list__id">Shape ID: {{feature.properties.INTRID_SID}}</div>
                  <div>Type/Subtype: {{feature.properties.TENURE_TYPE || '-'}} / {{feature.properties.TENURE_SUBTYPE || '-'}}</div>
                  <div>Area: {{feature.properties.TENURE_AREA_IN_HECTARES ? (feature.properties.TENURE_AREA_IN_HECTARES | number:'1.2-2') : '-'}}</div>
                  <div>Legal Description: <span [innerHTML]="(feature.properties.TENURE_LEGAL_DESCRIPTION | newlines) || '-'"></span></div>
                </li>
              </ul>
            </section>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>

  <!-- *** JEREMY => Choose one of 2 options: hide container when no application, or hide values below *** -->
  <div class="container" *ngIf="application" style="display: none;">
    <div class="row">
      <main class="col-lg-12 application-info">
        <section class="organization-item">
          <p>{{application?.client || '-'}}</p>
        </section>

        <section class="application-item">
          <div class="application-item__commenting row">
            <div class="col">
              <label>{{application?.cpStatus || 'Unknown Comment Period Status'}}</label>
              <span *ngIf="application?.currentPeriod">: {{application?.currentPeriod.startDate | date:'mediumDate'}} - {{application?.currentPeriod.endDate | date:'mediumDate'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="app-status">{{application?.appStatus || 'Unknown Application Status'}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label>Purpose</label>
              <p class="value">{{application?.purpose || "-" | titlecase}}</p>
            </div>
            <div class="col-6">
              <label>Subpurpose</label>
              <p class="value">{{application?.subpurpose || "-" | titlecase}}</p>
            </div>
            <div class="col-6">
              <label>Tenure Type</label>
              <p class="value">{{application?.type || "-" | titlecase}}</p>
            </div>
            <div class="col-6">
              <label>Tenure Subtype</label>
              <p class="value">{{application?.subtype || "-" | titlecase}}</p>
            </div>
            <div class="col-6">
              <label>Crown Land File</label>
              <p class="value">{{application && application['clFile'] || "-"}}</p>
            </div>
            <div class="col-6">
              <label>Disposition Transaction</label>
              <p class="value">{{application?.tantalisID || "-"}}</p>
            </div>
          </div>
        </section>

        <section class="shape-info-item row">
          <div class="col-12">
            <label>GEOGRAPHIC SHAPE INFORMATION</label>
            <div *ngIf="application?.features">
              This application has
              <strong>{{application.features.length}}</strong>
              {{application.features.length === 1 ? 'shape.' : 'shapes.'}}
              <hr>
            </div>
          </div>
          <div class="col-6">
            <label>Total Area (ha)</label>
            <p class="value">{{application?.areaHectares ? (application.areaHectares | number:'1.2-2') : '-'}}</p>
          </div>
          <div class="col-6">
            <label>Location</label>
            <p class="value">{{application?.location || "-"}}</p>
          </div>
          <div class="col-6">
            <label>Region</label>
            <p class="value">{{applicationService.getRegionString(application?.region) || "-"}}</p>
          </div>
          <div class="col-6">
            <label>Agency</label>
            <p class="value">{{application.agency || "-"}}</p>
          </div>
          <!-- if no features, display Legal Description here -->
          <!-- otherwise it's displayed in shape section below -->
          <div class="col-12" *ngIf="!application.features || application.features.length === 0">
            <label>Legal Description</label>
            <p class="value" [innerHTML]="(application.legalDescription | newlines) || '-'"></p>
          </div>
        </section>

        <section class="feature-item row" *ngFor="let feature of application?.features">
          <div class="col-12 mb-1">
            <span class="shape-id">Shape ID: {{feature.properties.INTRID_SID}}</span>
          </div>
          <div class="col-6">
            <label>Type / Subtype</label>
            <p class="value">{{feature.properties.TENURE_TYPE || '-'}} / {{feature.properties.TENURE_SUBTYPE || '-'}}</p>
          </div>
          <div class="col-6">
            <label>Area (ha)</label>
            <p class="value">{{feature.properties.TENURE_AREA_IN_HECTARES ? (feature.properties.TENURE_AREA_IN_HECTARES | number:'1.2-2') : '-'}}</p>
          </div>
          <div class="col-12">
            <label>Legal Description</label>
            <p class="value" [innerHTML]="(feature.properties.TENURE_LEGAL_DESCRIPTION | newlines) || '-'"></p>
          </div>
        </section>
      </main>

      <!-- <aside class="col-lg-7 application-tabs">
        <div>
          <button type="button" class="btn btn-warning float-lg-right gtm-submit-comment" (click)="addComment()" *ngIf="commentPeriodService.isOpen(application?.currentPeriod)">Submit a Comment</button>
        </div>
        <section>
          <div role="navigation">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item" role="presentation" *ngFor="let tabLink of tabLinks">
                <a class="nav-link" role="tab" [routerLink]="tabLink.link" [replaceUrl]="true" routerLinkActive="active">{{tabLink.label}}</a>
              </li>
            </ul>
          </div>

          <router-outlet></router-outlet>

        </section>
      </aside> -->

    </div>
  </div>
