@import "~assets/styles/base/base.scss";

.app-detail {
  line-height: normal;
}

section {
  line-height: 1.25rem;
  font-size: 0.9375rem;

  h4 {
    margin-bottom: 0.8rem;
    font-size: 1rem;
    font-weight: 600;
  }
}

section + section {
  margin-top: 2rem;
}

// Title Contents
.file-number {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

.applicant-name {
  line-height: 1.65rem;
  font-size: 1.5rem; // 18px
  font-weight: 600;
}

.purpose {
  color: #999;
  line-height: 1.65rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 600;
}

// Status 
.status-container {
  margin-top: 0.9rem;
  margin-bottom: 0;
  padding: 0;
  font-size: 0.875rem;

  li {
    @include flex-box();
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
  }

  li + li {
    margin-top: 0.2rem;
  }

  i {
    @include flex(0 0 auto);
    margin-right: 0.2rem;
    font-size: 21px;
  }

  span {
    @include flex(1 1 auto);
  }
}


// Meta
.meta-container {
  position: relative;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding: 0;
  line-height: 1.2rem;
  font-size: 0.875rem;
  display: table;
  width: 100%;

  li {
    display: table-row;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  li + li {
    margin-top: 0.25rem;
  }

  .key {
    display: table-cell;
    padding-right: 1em;
    font-weight: 600;
    width: 50%;
  }

  .value {
    display: table-cell;
    text-transform: capitalize;
    width: 50%;
  }
}

:host ::ng-deep {
  .nav-item {
    width: 50%;
    text-align: center;
  }
}

.document-list {
  padding: 0;
  margin: 0 -0.2rem;

  li {
    margin: 0.2rem;
    display: block;

    a {
      display: block;
      padding: 0.5rem;
      padding-right: 0.75rem;
      border-radius: 0.2rem;
      background: #eee;
      font-size: 0.8rem;
      transition: all ease-out 0.2s;
    }

    a:hover {
      color: #fff;
      background: #007bff;
      text-decoration: none;
    }

    i, span {
      display: inline;
      vertical-align: middle;
    }
  }
}

.shapefile-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    margin: 0.2rem 0;
    padding: 0.5rem 0;
    border-top: 1px solid #eee;
    font-size: 0.8rem;
  }
}

.shapefile-list__id {
  font-weight: 700;
}