<div class="flex-panel">
  <div class="flex-panel__header">
    <h3 class="title">Find an Application</h3>
  </div>
  <div class="flex-panel__scroll">
    <div class="form-group">
      <label class="control-label">Enter Crown Land File OR Diposition Transaction #</label>
      <input class="form-control gtm-filter-cl-file" type="number" id="clFileInput3" 
        (focus)="isCpStatusCollapsed=true;isAppStatusCollapsed=true"  
        (keydown.arrowup)="$event.preventDefault()" 
        (keydown.arrowdown)="$event.preventDefault()"
        (keyup.enter)="applyClFileFilter()"  
        (mousewheel)="$event.preventDefault()"
        [(ngModel)]="_clFileFilter" 
        [disabled]="loading" />
    </div>
    <div class="form-btns">
      <button class="btn btn-primary gtm-apply-filters" type="button" title="Find"
        (click)="applyClFileFilter()" 
        [disabled]="loading">Find</button>
      <button class="btn btn-light" type="button" title="Clear filters" 
        (click)="clearAllFilters();isFiltersCollapsed=true"
        [disabled]="loading">
        Clear
      </button>
    </div>

    <section>
      <h4>What is a Crown Land File Number?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </section>

    <section>
      <h4>What is a Disposition Transaction ID?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </section>
    <!-- Application Filter Inputs / All Filters -->
    <div class="app-filters" style="display: none" id="applist-filters">
      <h4>Explore Applications</h4>
      
      <!-- Comment Period -->
      <fieldset>
        <legend>Comment Period Status</legend>
        <div class="form-check" *ngFor="let key of cpStatusKeys">
          <label class="form-check-label" for="{{key}}">
            <input class="form-check-input gtm-filter-cp-status" type="checkbox" name="{{key}}" id="{{key}}" [(ngModel)]="_cpStatusFilters[key]"> 
            {{commentPeriodService.getStatusString(key)}}
          </label>
        </div>
      </fieldset>

      <!-- Application Status -->
      <fieldset>
        <legend>Application Status</legend>
        <div class="form-check" *ngFor="let key of appStatusKeys">
          <label class="form-check-label" for="{{key}}">
            <input class="form-check-input gtm-filter-app-status" type="checkbox" name="{{key}}" id="{{key}}" [(ngModel)]="_appStatusFilters[key]">
            {{applicationService.getStatusString(key)}}
          </label>
        </div>
      </fieldset>

      <!-- Additional Filters -->
      <fieldset class="additional-filters">
          <div class="form-group typeahead-container">
            <label for="applicantInput">Applicant Name</label>
            <input type="text" class="form-control gtm-filter-applicant " placeholder="Applicant Name" id="applicantInput" [(ngModel)]="_applicantFilter"
            [ngbTypeahead]="applicantSearch" [focusFirst]="false">
          </div>
          <div class="form-group">
            <label for="clFileInput2">Crown land File #</label>
            <input type="number" class="form-control gtm-filter-cl-file " placeholder="Crown land File #" id="clFileInput2" [(ngModel)]="_clFileFilter"
              (keydown.arrowup)="$event.preventDefault()" (keydown.arrowdown)="$event.preventDefault()" (mousewheel)="$event.preventDefault()">
          </div>
          <div class="form-group">
            <label for="dispIdInput">Disposition Transaction</label>
            <input type="number" class="form-control gtm-filter-disposition-id" placeholder="Disposition Transaction" id="dispIdInput" [(ngModel)]="_dispIdFilter"
              (keydown.arrowup)="$event.preventDefault()" (keydown.arrowdown)="$event.preventDefault()" (mousewheel)="$event.preventDefault()">
          </div>
          <div class="form-group typeahead-container">
            <label for="purposeInput">Purpose / Subpurpose</label>
            <input type="text" class="form-control gtm-filter-purpose" placeholder="Purpose / Subpurpose" id="purposeInput" [(ngModel)]="_purposeFilter"
              [ngbTypeahead]="purposeSearch" [focusFirst]="false">
          </div>
      </fieldset>

      <button class="btn btn-light no-default" role="button" title="Clear filters" 
        (click)="clearAllFilters();isFiltersCollapsed=true" *ngVar="filterCount() as filtCnt"
        [class.disabled]="loading">
        Clear {{filtCnt > 0 ? '(' + filtCnt + ')' : ''}}
      </button>
      <button class="btn btn-light no-default" role="button" title="Cancel" id="cancelButton" (click)="cancelAllFilters();isFiltersCollapsed=true;onShowHideClick()">
        Cancel
      </button>
      <button type="button" class="btn btn-primary" title="Apply Filters" id="applyButton" (click)="applyAllFilters();isFiltersCollapsed=true;onShowHideClick()"
        [disabled]="loading">
        Apply
      </button>

    </div>
  </div>
</div>