<div class="app-view">
  
  <h1 class="sr-only">Find Applications in British Columbia</h1>

  <ul class="sidepanel-nav">
    <li>
      <button class="btn btn-light" [ngClass]="{'active': configService.isFiltersVisible && configService.isSidePanelVisible}" (click)="showFilters()">
        <i class="material-icons">
          search
        </i>
        <div>Find</div>
      </button>
    </li>
    <li>
      <button class="btn btn-light" [ngClass]="{'active': configService.isExploreVisible && configService.isSidePanelVisible}" (click)="showExplore()">
        <i class="material-icons">
          visibility
        </i>
        <div>Explore</div>
      </button>
    </li>
    <li>
      <button class="btn btn-light" [ngClass]="{'active': configService.isDetailsVisible && configService.isSidePanelVisible}" (click)="showDetails()">
        <i class="material-icons">
          info
        </i>
        <div>Details</div>
      </button>
    </li>
  </ul>
    
  <div class="sidepanel" [ngClass]="configService.isSidePanelVisible ? 'sidepanel--open':'sidepanel--closed'">
    <button class="sidepanel__close-btn btn icon-btn" (click)="configService.isSidePanelVisible = false; $event.stopPropagation();">
      <i class="material-icons">
        close
      </i>
    </button>
    <app-applist-filters class="sidepanel__content"
      [hidden]="!configService.isFiltersVisible" 
      [applications]="filterApps" 
      (updateMatching)="updateMatching()" 
      #appfilters>
    </app-applist-filters>
    <app-applist-detail class="sidepanel__content"
      [hidden]="!configService.isDetailsVisible" 
      [appId]="currentAppId" 
      #appdetail>
    </app-applist-detail>
    <app-explore class="sidepanel__content"
      [hidden]="!configService.isExploreVisible">
    </app-explore>
  </div>

  <div class="main-container">
    <app-results-bar class="app-results-bar"></app-results-bar>
    <div class="app-results" [ngClass]="toggleResultView ? 'show-map':'show-list'">
      <!-- List View -->
      <app-applist-list class="app-list" #applist 
        [applications]="listApps"
        (setCurrentApp)="highlightApplication($event, true)"
        (unsetCurrentApp)="highlightApplication($event, false)">
      </app-applist-list>
      <!-- Map View -->
      <app-applist-map class="app-map" #appmap
        [applications]="mapApps"
        [applist]="applist"
        [appfilters]="appfilters"
        (updateVisible)="updateVisible()"
        (reloadApps)="reloadApps()"
        (setCurrentApp)="highlightApplication($event, true)">
      </app-applist-map>
    </div>
  </div>
  
  <!--
  <div class="app-list-map-container">
    <div class="app-list-container">
      <app-applist-list class="app-list" #applist
        [applications]="listApps"
        (setCurrentApp)="highlightApplication($event, true)"
        (unsetCurrentApp)="highlightApplication($event, false)">
      </app-applist-list>
    </div>

    <div class="overlay" (click)="toggleAppList();$event.stopPropagation();"></div>

    <app-applist-map class="app-map" #appmap
      [applications]="mapApps"
      [applist]="applist"
      [appfilters]="appfilters"
      (updateVisible)="updateVisible()"
      (reloadApps)="reloadApps()">
    </app-applist-map>

  </div>
  -->

</div>