@import "~assets/styles/base/base.scss";

$toggle-list-anim-duration: 0.2s;
$map-component-shadow: 0.1rem 0.1rem 0.5rem rgba(0,0,0,0.25);

app-applications:host {
  position: absolute;     // We need to set absolute here --- the map component exhibits some funky behaviour when leveraging flexbox on it's parent container
  top: 3.7rem;            // Offset height of header
  right: 0;
  bottom: 2rem;
  left: 0;
}

@media (min-width: 768px) {
  app-applications:host {
    top: 71px;            
  }
}

.app-view {
  @include flex-box();
  @include flex-flow(column nowrap);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .app-view {
    @include flex-flow(row nowrap);
  }
}

.main-container {
  @include flex-box();
  @include flex-flow(column nowrap);
  @include flex(1 1 auto);
  position: relative;
  overflow: hidden;
  order: 1;
}

.app-filters {
  @include flex(0 0 auto);
  padding: 1rem;
}

.app-results {
  @include flex(1 1 auto);
  position: relative;
}

.app-results-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
}

.show-list {
  .app-map {
    display: none;
  }
}

.show-map {
  .app-list {
    display: none;
  }
}

.sidepanel {
  overflow: hidden;
  //border-right: 1px solid #ccc;
  background: #fff;
  transition: transform ease-out 0.2s;
}

.sidepanel__content {
  position: absolute;
  
  ::ng-deep {
    .flex-panel {
      position: absolute;
    }
  }
}

.sidepanel__close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
}

@media (max-width: 1023px) {
  .sidepanel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 2000;

    &.sidepanel--closed {
      transform: translateX(100%);
    }
    
    &.sidepanel--open {
      transform: translateX(0);
    }
  }

  .sidepanel__content {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    ::ng-deep {
      .flex-panel {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}

@media (min-width: 1024px) {
  .sidepanel {
    @include flex(0 0 auto);
    position: relative;
    width: 0;
    transition: width ease-out 0.2s;

    &.sidepanel--open {
      width: 500px;
    }

    .sidepanel__content {
      top: 0;
      right: 0;
      bottom: 0;

      ::ng-deep {
        .flex-panel {
          top: 0;
          right: 0;
          bottom: 0;
          width: 500px;
        }
      }
    }
  }
}

$sidepanel-nav-color: #fff;
$sidepanel-nav-bg: #0050a1;

.sidepanel-nav {
  @include flex(0 0 auto);
  margin: 0;
  padding: 0;
  background: $sidepanel-nav-bg;
  list-style-type: none;
  order: 0;

  li {
    display: inline-block;
  }
}

.sidepanel-nav .btn {
  display: block;
  width: 5.5rem;
  height: 4.5rem;
  color: rgba($sidepanel-nav-color, 0.6);
  background: $sidepanel-nav-bg;
  border-radius: 0;
  border: none;
  text-align: center;
  font-size: 0.85rem;
  font-weight: 700;

  i {
    vertical-align: top;
  }
}

@media (min-width: 1024px) {
  .sidepanel-nav {
    height: 100%;
    border-bottom: none;

    li {
      display: block;
    }
  }

  .sidepanel-nav .btn.active {
    color: $sidepanel-nav-color;
    border: none;
    background: lighten($sidepanel-nav-bg, 10%);
    box-shadow: none;
  }
}

@media (min-width: 1024px) {
  .app-view {
    @include flex-flow(row nowrap);
  }

  .main-container {
    order: 3;
  }

  .sidepanel-nav {
    order: 1;
  }

  .sidepanel {
    order: 2;
  }
}